name: Dependabot reviewer
on: pull_request
permissions:
  pull-requests: write
  contents: write
jobs:
  call-workflow-passing-data:
    uses: grafana/security-github-actions/.github/workflows/dependabot-automerge.yaml@main
    with:
      packages-minor-autoupdate: '["@emotion/css","@grafana/aws-sdk","@grafana/data","@grafana/plugin-ui","@grafana/runtime","@grafana/scenes","@grafana/schema","@grafana/ui","common-tags","jsurl","github.com/aws/aws-sdk-go-v2","github.com/aws/aws-sdk-go-v2/service/cloudwatch","github.com/aws/aws-sdk-go-v2/service/cloudwatchlogs","github.com/aws/aws-sdk-go-v2/service/ec2","github.com/aws/aws-sdk-go-v2/service/oam","github.com/aws/aws-sdk-go-v2/service/resourcegroupstaggingapi","github.com/aws/smithy-go","github.com/go-stack/stack","github.com/google/go-cmp","github.com/google/uuid","github.com/grafana/grafana-aws-sdk","github.com/grafana/grafana-plugin-sdk-go","github.com/patrickmn/go-cache","github.com/prometheus/client_golang","github.com/stretchr/testify","golang.org/x/sync"]'
      repository-merge-method: 'squash'

