.valueNode {
  display: var(--json-tree-block);
  align-items: var(--json-tree-value-node-align-items);
  cursor: default;
}

.valueNodeValue {
  text-wrap: var(--json-tree-value-text-wrap);
  word-break: var(--json-tree-value-text-word-break);
  color: var(--json-tree-label-value-color);
}

.valueNodeLabel {
  margin-right: var(--json-tree-value-label-margin);
  display: var(--json-tree-inline-flex);
}

.valueNodeScrolled {
  scroll-margin: var(--json-tree-scroll-margin);
}
