@import "variables";

.tree {
  padding: var(--json-tree-ul-root-padding);
}

.defaultItemString {
  display: var(--json-tree-inline-flex);
  color: var(--json-tree-key-label-color);
}

.defaultLabelWrap {
  display: var(--json-tree-inline-flex);
  margin-right: var(--json-tree-default-label-wrap-margin-right);
  color: var(--json-tree-label-color);
  cursor: default;

  &--expandable {
    cursor: pointer;
  }
}
