---
name: Lint
# yamllint disable-line rule:truthy
on:
  push:
    branches: ["main"]

  pull_request:

  workflow_dispatch:

permissions: {}

jobs:

  actionlint:
    name: GitHub Actions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
        with:
          persist-credentials: 'false'
      - uses: raven-actions/actionlint@3a24062651993d40fed1019b58ac6fbdfbf276cc  # v2.0.1

  markdown:
    name: Markdown
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
        with:
          persist-credentials: 'false'
      - name: Lint Markdown files
        run: make lint-markdown

  yamllint:
    name: YAML
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
        with:
          persist-credentials: 'false'
      - name: Lint YAML files
        run: make lint-yaml

  zizmor:
    name: Zizmor
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
        with:
          persist-credentials: 'false'
      - name: Lint Zizmor files
        run: make lint-zizmor
