components:
  schemas:
    Log:
      type: object
      description: controls the data that come into a Log message.
      required:
        - timestamp
      properties:
        context:
          $ref: "#/components/schemas/LogContext"
          x-go-type-skip-optional-pointer: true
        level:
          $ref: "#/components/schemas/LogLevel"
          x-go-type-skip-optional-pointer: true
          x-go-name: LogLevel
        message:
          type: string
          x-go-type-skip-optional-pointer: true
        timestamp:
          type: string
          format: date-time
        trace:
          $ref: "#/components/schemas/TraceContext"
        action:
          $ref: "#/components/schemas/Action"
      x-go-type-skip-optional-pointer: true
