components:
  schemas:
    TraceContext:
      description: holds trace id and span id associated to an entity (log, exception, measurement...).
      type: object
      required:
        - trace_id
        - span_id
      properties:
        span_id:
          type: string
          x-go-type-skip-optional-pointer: true
          x-omitempty: false
        trace_id:
          type: string
          x-go-type-skip-optional-pointer: true
          x-omitempty: false
      x-go-type-skip-optional-pointer: true
