name: Actionlint

on:
  push:
    branches:
      - main
      - release-*
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  run-actionlint:
    name: Lint GitHub Actions files
    runs-on: ubuntu-latest
    permissions:
      contents: read # to check out the code
      actions: read # to read the workflow files

    env:
      ACTIONLINT_VERSION: 1.7.7
      # curl -LXGET https://github.com/rhysd/actionlint/releases/download/v${ACTIONLINT_VERSION}/actionlint_${ACTIONLINT_VERSION}_checksums.txt | grep linux_amd64
      CHECKSUM: 023070a287cd8cccd71515fedc843f1985bf96c436b7effaecce67290e7e0757

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      # GitHub Actions only runs x86_64. This will break if that assumption changes.
      - name: Download Actionlint
        run: |
          set -euo pipefail
          curl -OLXGET https://github.com/rhysd/actionlint/releases/download/v"${ACTIONLINT_VERSION}"/actionlint_"${ACTIONLINT_VERSION}"_linux_amd64.tar.gz
          echo "${CHECKSUM}  actionlint_${ACTIONLINT_VERSION}_linux_amd64.tar.gz" | sha256sum -c -
          tar xzf actionlint_"${ACTIONLINT_VERSION}"_linux_amd64.tar.gz
          test -f actionlint
          chmod +x actionlint

      - run: ./actionlint
