export GH_TOKEN=$(gh auth token)
export TELEMETRY_URL=$(op --account grafana.1password.com read "op://Kubernetes Monitoring/Hackathon 12 Action Stat OTLP Endpoint/website")
export TELEMETRY_USERNAME=$(op --account grafana.1password.com read "op://Kubernetes Monitoring/Hackathon 12 Action Stat OTLP Endpoint/username")
export TELEMETRY_PASSWORD=$(op --account grafana.1password.com read "op://Kubernetes Monitoring/Hackathon 12 Action Stat OTLP Endpoint/password")
