/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Set logo size in the navbar
 */
.VPNavBarTitle .VPImage.logo {
  width: 40px !important;
  height: 40px !important;
}

/* Adjust navbar title spacing */
.VPNavBarTitle {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
