<header>
    <nav>
        <div class="header-logo">
            <a href="/"><img src="/grafanactl/assets/grafana_logo.svg" alt="Logo" /></a>
        </div>
        <div class="header-title">
            <a href="/"><h1>grafanactl - server</h1></a>
        </div>
        <div class="context">
            <span>Current context: <b>{{.CurrentContext.Name}}</b></span>
        </div>
    </nav>
</header>
