name: (New) Plugins - Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Semver type of new version (major / minor / patch)'
        required: true
        type: choice
        options:
          - patch
          - minor
          - major

# No global permissions, each job defines own scope
permissions: {}

jobs:
  bump-version:
    # Don't run on forks
    if: github.repository == 'grafana/profiles-drilldown'
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Version bump
        uses: grafana/plugin-ci-workflows/actions/plugins/version-bump-changelog@e5199cd60d0409082e09ad2bbbc9d2e3842a626a # ci-cd-workflows/v2
        with:
          generate-changelog: true
          version: ${{ inputs.version }}

  cd:
    name: CI / CD
    needs: bump-version
    uses: grafana/plugin-ci-workflows/.github/workflows/cd.yml@ci-cd-workflows/v2
    # These are maximum permissions for the job and should match the permissions defined in the workflow
    permissions:
      contents: write
      id-token: write
      attestations: write
    with:
      environment: prod
      auto-merge-environments: dev,ops
      attestation: true

      # Deploy provisioned plugin to Grafana Cloud
      grafana-cloud-deployment-type: provisioned
      argo-workflow-slack-channel: '#proj-profilesdrilldown-cd'

      run-playwright: false
      run-playwright-docker: true
      run-playwright-with-skip-grafana-dev-image: true
      upload-playwright-artifacts: true
      run-playwright-with-grafana-dependency: '>=12.1.0 <12.2.0'
      playwright-config: e2e/config/playwright.config.ci.ts
      playwright-docker-compose-file: docker-compose.e2e.yaml
      playwright-report-path: 'e2e/test-reports/'
