name: CD
run-name: Deploy main to dev,ops by @${{ github.actor }}

on:
  push:
    branches:
      - main

permissions:
  contents: 'write'
  id-token: 'write'
  attestations: 'write'

jobs:
  CD:
    name: Deploy plugin
    uses: grafana/plugin-ci-workflows/.github/workflows/cd.yml@ci-cd-workflows/v4.2.0
    with:
      branch: ${{ github.event_name == 'push' && github.ref_name || github.ref }}
      environment: dev,ops
      attestation: true # this guarantees that the plugin was built from the source code provided in the release
      run-playwright: false
      # Use argo workflows, auto merge to dev in deployment tools
      grafana-cloud-deployment-type: provisioned
      auto-merge-environments: dev,ops
      argo-workflow-slack-channel: '#proj-metricsdrilldown-cd'
      # Add the git head ref sha to the plugin version as suffix (`+abcdef`). This is required for CD builds.
      plugin-version-suffix: ${{ github.event_name == 'push' && github.sha || github.event.pull_request.head.sha }}
