[General]
  snippetfile = "PATH-TO-THIS-REPO/hg-snippets-config/snippet.toml"
  editor = "vim"                  # your favorite text editor
  column = 40                     # column size for list command
  selectcmd = "fzf"               # selector command for edit command (fzf or peco)
  backend = "github"                # specify backend service to sync snippets (gist or gitlab, default: gist)
  sortby  = "description"         # specify how snippets get sorted (recency (default), -recency, description, -description, command, -command, output, -output)
  cmd = ["sh", "-c"]              # specify the command to execute the snippet with

[Github]
  file_name = "snippet.toml"
  repo_owner = "grafana"
  repo_name = "hg-snippet-config"
  access_token = "XXXXXXXXXXXXX"  # your access token
  auto_sync = false

[Gist]
  file_name = "pet-snippet.toml"  # specify gist file name
  access_token = ""               # your access token
  gist_id = ""                    # Gist ID
  public = false                  # public or priate
  auto_sync = false               # sync automatically when editing snippets
