mode: daemonset

image:
  repository: otel/opentelemetry-collector-contrib

presets:
  kubernetesAttributes:
    enabled: true

  kubeletMetrics:
    enabled: true

  hostMetrics:
    enabled: true

config:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318
    hostmetrics:
      scrapers:
        cpu:
          metrics:
            system.cpu.logical.count:
              enabled: true
        load: {}
        memory:
          metrics:
            system.memory.limit:
              enabled: true
        disk: {}
        filesystem: {}
        network: {}
  
  processors:
    transform/copy_node_name:
    # workaround waiting for the Prometheus OTLP endpoint to promote k8s.node.name and host.name
      metric_statements:
        - context: datapoint
          statements:
            - set(attributes["k8s.node.name"], resource.attributes["k8s.node.name"]) where resource.attributes["k8s.node.name"] != nil
            - set(attributes["host.name"], resource.attributes["host.name"]) where resource.attributes["host.name"] != nil

    k8sattributes:
      extract:
        otel_annotations: true

    attributes/k8sclustername:
      actions:
        - key: k8s.cluster.name
          action: upsert
          value: kubernetes-mixin-otel

    resource/hostname:
      attributes:
      - key: k8s.node.name
        action: upsert
        value: ${env:K8S_NODE_NAME}
      - key: host.name
        action: upsert
        from_attribute: k8s.node.name

    resourcedetection:
      detectors: [system]
      timeout: 2s
      override: true

    batch: {}

  exporters:
    otlphttp/metrics:
      endpoint: http://lgtm:9090/api/v1/otlp
      tls:
        insecure: true

    prometheus:
      endpoint: "0.0.0.0:8889"
      resource_to_telemetry_conversion:
        enabled: true

  service:
    extensions: [health_check]
    
    pipelines:
      metrics:
        receivers: [otlp, hostmetrics]
        processors: [
          resourcedetection,
          k8sattributes,
          attributes/k8sclustername,
          resource/hostname,
          transform/copy_node_name,
          batch,
        ]
        exporters: [otlphttp/metrics, prometheus]

ports:
  prometheus:
    enabled: true
    containerPort: 8889
    servicePort: 8889
    protocol: TCP
