name: Publish container

permissions:
  contents: none

on:
  push:
    tags:
      - "v*"

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          fetch-depth: 0 # Needed for the version script to work.
          persist-credentials: false

      - name: Compute repo metadata
        id: repo
        run: |-
          echo "version=$(./scripts/version)" >> $GITHUB_OUTPUT
          cat $GITHUB_OUTPUT

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
        with:
          cache-binary: false # https://woodruffw.github.io/zizmor/audits/#cache-poisoning
      - name: Log into ghcr.io
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: . # Use checked out repo with full history, instead of letting build making a shallow clone.
          tags: |-
            ghcr.io/${{ github.repository }}:${{ steps.repo.outputs.version }}
          push: true
          platforms: linux/amd64,linux/arm64
