name: Push/PR

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: none

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          persist-credentials: false
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version-file: go.mod
      - run: |
          make build

  test:
    name: Test
    strategy:
      matrix:
        platform: [ ubuntu-latest, ubuntu-24.04-arm ]
      fail-fast: false
    runs-on: ${{ matrix.platform }}
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          persist-credentials: false
      - run: |
          make test

  build-container:
    name: Build container image
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
      - name: Build contianer
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          push: false
          tags: ci.local/crocochrome:${{ github.sha }}
          platforms: linux/amd64,linux/arm64

  golangci:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          persist-credentials: false
      - name: Sanity check .dockerignore
        run: |-
          if [[ -e ".dockerignore" ]]; then
            cat <<EOF
          .dockerignore will prevent files tracked by git from being copied into the container, which in turn will
          cause Go to see the build tree as "dirty", and self-report the version as dirty too. This will cause
          problems with the deployment process.

          Please remove .dockerignore.
          If you _really_ need .dockerignore, make sure .gitignore is a superset of .dockerignore, and change this
          step to test for that.
          EOF

            exit 1
          fi
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version-file: go.mod
          cache: false # Recommended by golangci-lint, undocumented why.
      # Get golangci-lint version present in grafana-build-tools.
      - id: version
        run: |-
          echo "golangci=$(make lint-version)" >> $GITHUB_OUTPUT
      # Use the golangci-lint action, which provides Github-specific features such as diff annotations.
      - name: golangci-lint
        uses: golangci/golangci-lint-action@55c2c1448f86e01eaae002a5a3a9624417608d84 # v6
        with:
          version: ${{ steps.version.golangci }}
