name: 'metrics-drilldown'
services:
  grafana-gmd:
    container_name: 'grafana-gmd'
    extends:
      file: .config/docker-compose-base.yaml
      service: grafana
    build:
      args:
        grafana_image: ${GRAFANA_IMAGE:-grafana-enterprise}
        grafana_version: ${GRAFANA_VERSION:-11.6.5}
    ports: !override
      - '${GRAFANA_PORT:-3001}:3000'
    environment:
      GF_SERVER_ROOT_URL: 'http://localhost:${GRAFANA_PORT:-3001}'
      GF_FEATURE_TOGGLES_ENABLE: exploreMetricsUseExternalAppPlugin
      # prevents a Grafana startup error in case a newer plugin version (set in package.json) is used compared to the latest one published in the catalog
      GF_PLUGINS_PREINSTALL_DISABLED: true
    volumes:
      - ./provisioning/dashboards/dashboardJson:/etc/dashboards
      - ../logs-drilldown/dist:/var/lib/grafana/plugins/grafana-lokiexplore-app
    extra_hosts:
      # This allows us to connect to other services running on the host machine.
      # Linux CI: Uses 172.17.0.1 (default)
      # macOS/Windows local dev: Override with DOCKER_HOST_IP=host-gateway in .env file
      - 'host.docker.internal:${DOCKER_HOST_IP:-172.17.0.1}'
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:3000/api/health']
      interval: 1s
      timeout: 1s
      retries: 30
      start_period: 15s

  grafana-scopes-gmd:
    container_name: 'grafana-scopes-gmd'
    extends:
      service: grafana-gmd
    ports: !override
      - '${GRAFANA_SCOPES_PORT:-3002}:3000'
    environment:
      GF_SERVER_ROOT_URL: 'http://localhost:${GRAFANA_SCOPES_PORT:-3002}'
      GF_FEATURE_TOGGLES_ENABLE: exploreMetricsUseExternalAppPlugin,grafanaAPIServer,grafanaAPIServerWithExperimentalAPIs,scopeFilters,promQLScope,enableScopesInMetricsExplore
    extra_hosts:
      # This allows us to connect to other services running on the host machine.
      # Linux CI: Uses 172.17.0.1 (default)
      # macOS/Windows local dev: Override with DOCKER_HOST_IP=host-gateway in .env file
      - 'host.docker.internal:${DOCKER_HOST_IP:-172.17.0.1}'
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:3000/api/health']
      interval: 1s
      timeout: 1s
      retries: 30
      start_period: 15s

  prometheus-gmd:
    container_name: 'prometheus-gmd'
    build:
      dockerfile: ./e2e/docker/Dockerfile.prometheus-static-data
      context: .
    ports:
      - '9099:9090'
    command: >
      --enable-feature=remote-write-receiver
      --enable-feature=exemplar-storage
      --enable-feature=native-histograms
      --config.file=/etc/prometheus/prometheus.yml
      --storage.tsdb.path=/prometheus/data
      --storage.tsdb.retention.time=42y
    healthcheck:
      # healthy only when metrics metadata is returned
      # it's important because the app heavily relies on them to determine how metrics are rendered in the UI (see GmdVizPanel.tsx)
      test: ['CMD-SHELL', 'wget -qO- http://localhost:9090/api/v1/targets/metadata | grep -Fq ''"data":[{''']
      interval: 1s
      timeout: 1s
      retries: 30
      start_period: 15s

  # e2e testing
  playwright:
    network_mode: host
    container_name: 'playwright-e2e'
    build:
      dockerfile: ./e2e/docker/Dockerfile.playwright
      context: .
    volumes:
      - ./e2e:/app/e2e
      - ./src:/app/src
    command: ${PLAYWRIGHT_ARGS:-}
    profiles: [playwright]
    # this is only for local testing, in our CI pipeline, our shared plugin actions wait for Grafana to start before launching Playwright
    depends_on:
      grafana-scopes-gmd:
        condition: service_healthy
      grafana-gmd:
        condition: service_healthy
      prometheus-gmd:
        condition: service_healthy
    environment:
      # required for screenshot testing across Grafana versions
      GRAFANA_VERSION: ${GRAFANA_VERSION:-11.6.5}
      # required for testing Scopes functionality (see the grafana-scopes-gmd service above)
      GRAFANA_SCOPES_PORT: ${GRAFANA_SCOPES_PORT:-3002}
      # see the grafana-gmd service above
      GRAFANA_PORT: ${GRAFANA_PORT:-3001}
