name: publish 

on:
  push:
    branches:
      - main
    tags:
      - v*

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: grafana/k6build

jobs:

  publish-images:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130  # v3.7.0
      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        with:
          version: v0.9.1
          cache-binary: false
      - name: Log into ghcr.io
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push image
        run: |
          if [[ "$GITHUB_REF_TYPE" == "tag" ]]; then
             IMAGE_VERSION=$GITHUB_REF_NAME
          else
             IMAGE_VERSION='latest'
          fi
          IMAGE_TAG="$REGISTRY/$IMAGE_NAME:${IMAGE_VERSION}"
          docker buildx build -t $IMAGE_TAG --platform=linux/amd64,linux/arm64 --push .
